#square1 {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 10px;
  display: inline-block;
}
#square2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 10px;
  display: inline-block;
}
#square3 {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 10px;
  display: inline-block;
}
#square4 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 10px;
  display: inline-block;
}

#square5 {
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 10px;
  display: inline-block;
}
